// @import './variables.scss';
@import './components.scss';
@import './flex.scss';
@import './typograph.scss';

@function pow($base, $exp) {
    $res: 1;
    @for $i from 1 through $exp {
        $res: $res * $base;
    }
    @return $res;
}

@each $name, $color in $colors {
    .c-#{$name} {
        color: $color;
    }

    .b-#{$name} {
        background-color: $color;
    }

    @for $i from 1 through 10 {
        .br-#{$name}-#{$i} {
            border: solid $color $i + px;
        }
    }
}

@for $i from 1 through 600 {
    .h-#{$i} {
        height:  $i + px;
    }
    .w-#{$i} {
        width:  $i + px;
    }
    .pa-#{$i} {
        padding:  $i + px;
    }
    .ph-#{$i} {
        padding-left:  $i + px;
        padding-right:  $i + px;
    }
    .ma-#{$i} {
        margin:  $i + px;
    }
    .mt-#{$i} {
        margin-top:  $i + px;
    }
    .ml-#{$i} {
        margin-left:  $i + px;
    }
    .mb-#{$i} {
        margin-bottom: $i + px;
    }
}

body {
    margin: 0 auto;
}

.w50 {
    width: 50%;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.w90 {
    width: 90%;
    margin: auto;
}

.w95 {
    width: 95%;
}

.w85 {
    width: 85%;
}

.margin-auto {
    margin: auto;
}

// ЭНЭ CSS ЯМАР УЧИРТАЙГ САЙН СУДЛАХ
* {
    box-sizing: border-box;
}

.rb {
    border: none;
}

.ru {
    text-decoration: none;
    color: white;
}

.ul {
    text-decoration: underline;
}

.nopadding {
    padding: none;
}

.logo {
    width: 100px;
    height: 100px;
}

.op {
    opacity: 0.5;
}

.rm {
    margin: 0;
}

.pr {
    position: relative;
}

.v-align {
    vertical-align: middle;
}

.dr {
    top: 65px;
    right: 130px;
    border-top: none;
}

@for $i from 1 to 100 {
    .bb-#{$i} {
        border-bottom: solid grey $i + px;
    }
    .bt-#{$i} {
        border-top: solid black $i + px;
    }
    .bl-#{$i} {
        border-left: solid black $i + px;
    }
    .bright-#{$i} {
        border-right: solid black $i + px;
    }
    .bradius-#{$i} {
        border-radius: $i + px;
    }
    .fs {
        font-size: $i + px;
    }
}

.dn {
    display: none;
}


.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.container {
    width: 90vw;
    margin: 0 auto;
}


.t-0 {
    top: 0;
}

.r-0 {
    right: 0;
}

.absolute {
    position: absolute;
}